name: Pymarkdownlnt
# Runs the workflow on the below events:
# 1. on pull request raised to trunk branch.
# 2. on push event to trunk branch.
on:
  push:
    branches:
      - trunk
  pull_request:
    branches:
      - trunk
  workflow_dispatch:

permissions:  # added using https://github.com/step-security/secure-workflows
  contents: read

jobs:
  lint-markdown:
    runs-on: ubuntu-24.04
    name: Lint Markdown
    steps:
      - name: checkout repo content
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
      - name: Install uv
        uses: astral-sh/setup-uv@803947b9bd8e9f986429fa0c5a41c367cd732b41 # v7.2.1
        with:
          working-directory: tools
          activate-environment: true
      - name: Install and run linter
        run: |-
          uv pip install --require-hashes -r tools/pylock.toml
          pymarkdownlnt -s 'plugins.md024.siblings_only=$!True' scan *.md
